@model PersonalizerTravelAgencyDemo.Models.Action

<div class="modal fade" id="checkout-modal" tabindex="-1" role="dialog" aria-labelledby="checkout-modal-title" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog about-modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="col-md-12 modal-title text-center" id="about-modal-title">
                    This is the checkout page
                    <button type="button" class="close pr-0" id="endModal-close-icon" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="row mt-2 ml-1">
                    <p>The reward sent to personalizer was:&nbsp;</p>
                    <p id="modal-reward"></p>
                </div>
                <p class="row ml-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas venenatis sapien, ut fringilla tortor ornare eget. Integer tincidunt ligula sit amet lorem porttitor consectetur. Donec felis enim, auctor non maximus nec,
                    molestie eu ligula. Aliquam tempus felis nec rutrum pharetra. Morbi velit nisl, dictum eu pulvinar ultricies, varius facilisis ipsum. Donec ultricies, nulla quis placerat rhoncus, nunc lectus elementum nulla, in mollis sapien dui
                    eget velit. Proin aliquam tincidunt ligula sed aliquet. Nunc vulputate consectetur augue, nec aliquam turpis ornare vel. Proin luctus nec odio eget mollis. Donec sagittis rhoncus sollicitudin. Duis et mi at mi ornare ultrices sed
                    nec erat. Aenean venenatis a ipsum eu imperdiet. Vestibulum ac orci id erat auctor iaculis.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="endModal-close-button" class="btn btn-secondary" data-dismiss="modal">Try Again</button>
            </div>
        </div>
    </div>
</div>