@model PersonalizerTravelAgencyDemo.Models.Action

@if (Model.ButtonColor == "#F57636"){
    <div class="row mt-4">
        <div class="col-md-4 offset-md-4 col-sm-12 text-center">
            <button class="btn text-capitalize button_orange" style="background: @Model.ButtonColor;">Confirm Purchase</button>
        </div>
        <div class="col-md-4 col-sm-12 text-center text-md-right my-auto">
            <a href="#">Save for Later</a>
        </div>
    </div>
    }
        
