@{ 
    PageConfigModel siteConfig = ViewData["siteConfig"] as PageConfigModel; 
    var confirmationPageText = ViewData["confirmationPageText"] as CheckoutPageText;
}

@model PersonalizerTravelAgencyDemo.Models.Action

@if (Model.ButtonColor == siteConfig.BlueButton)
{
    <div class="row mt-4">
        <div class="col-md-4 offset-md-4 col-sm-12 text-center">
            <button class="btn text-capitalize button_orange" data-toggle="modal" data-target="#confirm-purchase-modal" style="background: @Model.ButtonColor;" id="btn-confirm">@confirmationPageText.ConfirmButtonLabel</button>
        </div>
        <div class="col-md-4 col-sm-12 text-center text-md-right my-auto">
            <a href="#" id="link-save-later" data-toggle="modal" data-target="#saveforlater-modal">@confirmationPageText.SaveForLaterLinkLabel</a>
        </div>
    </div>
}

