
@{
}

<div id="costs-section" class="col-md-6 col-sm-12">
    <div class="row background-light-gray mr-md-2">
        <div class="mx-2 my-auto">
            <i class="fas fa-coins fa-5x"></i>
        </div>
        <div>
            <h5>Costs</h5>
            <p>
                $4000 All Inclusive<br />
                + $500 Luxury Package
            </p>
        </div>
    </div>
</div>
