@model PersonalizerTravelAgencyDemo.Models.Action

<div class="mx-2 my-auto">
    <i class="fas fa-coins color-gold fa-5x"></i>
</div>
<div>
    <h5>Costs</h5>
    <p>
        $4000 All Inclusive<br />
        + $500 Luxury Package
    </p>
</div>
