@model PersonalizerTravelAgencyDemo.Models.Action

<div class="row">
    <div class="mx-2 my-auto">
        <i class="fas fa-umbrella-beach color-green fa-5x"></i>
    </div>
    <div class="flex-grow-1">
        <h5>Discover</h5>
        <ul>
            <li>Pristine Beaches</li>
            <li>High End Experiences</li>
        </ul>
    </div>
</div>
