@model PersonalizerTravelAgencyDemo.Models.Action
@{
    var imagePath = "";
    if (Model != null)
    {
        imagePath = "/img/" + Model.Image + ".jpg";
    }
}
<div class="main_slot_image container-img-text">
    <div class="article-img-container">
        <img src="@imagePath" alt="Beach vacation" />
    </div>
</div>
