@{
}

<div id="image-section" class="col-12">
    <div class="main_slot_image container-img-text">
        <div class="article-img-container">
            <img src="~/img/caribbean-placeholder.jpg" alt="Beach vacation" />
        </div>
    </div>
</div>
