@model PersonalizerTravelAgencyDemo.Models.Action

<div class="mx-2 my-auto">
    <i class="fas fa-check-circle color-darkorange fa-5x"></i>
</div>
<div class="flex-grow-1">
    <h5>Package Includes</h5>
    <ul>
        <li>Boat Trip</li>
        <li>Dinner and Breakfast</li>
    </ul>
</div>
