@model IList<Article>
@{
    ViewData["Title"] = "HomeSite";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

<div class="row">
    <div class="col">
        @{
            if (Model.Any())
            {
                <a href="/home/article/@Model.First().Id">
                    <div class="main_slot_image container-img-text">
                        <img src="~/img/@Model.First().ImageName" alt="News 1" />
                        <div class="bottom-left"><h3>@Model.First().Title</h3></div>
                    </div>
                </a>
            }
            else
            {
                <div class="main_slot_image container-img-text">
                    <img src="~/img/blank.jpg" alt="News 1" />
                    <div class="bottom-left"></div>
                </div>
            }
        }

    </div>
    <div class="col-md-3 small_slot_wrapper">
        <div class="row py-2">
            <h3 class="font-weight-light">Latest Scores</h3>
            <table class="table table-sm bg-light">
                <tr>
                    <th>Wimbledon</th>
                </tr>
                <tbody>
                    <tr>
                        <td class="text-wrap" style="width: 75%"><img src="~/img/flags/us.svg" alt="US Flag" style="max-height:15%; max-width:15%"> Chris Evert</td>
                        <td>7</td><td>6</td><td>6</td>
                    </tr>
                    <tr>
                        <td class="text-wrap" style="width: 75%"><img src="~/img/flags/au.svg" alt="AU Flag" style="max-height:15%; max-width:15%"> Margaret Court</td>
                        <td>5</td><td>1</td><td>2</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm bg-light">
                <tr>
                    <th>US Open</th>
                </tr>
                <tbody>
                    <tr>
                        <td class="text-wrap" style="width: 75%"><img src="~/img/flags/de.svg" alt="DE Flag" style="max-height:15%; max-width:15%"> Steffi Graf</td>
                        <td>6</td><td>6</td><td>6</td>
                    </tr>
                    <tr>
                        <td class="text-wrap" style="width: 75%"><img src="~/img/flags/in.svg" alt="IN Flag" style="max-height:15%; max-width:15%"> Sania Mirza</td>
                        <td>3</td><td>1</td><td>4</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm bg-light d-none d-xl-block">
                <tr>
                    <th>French Open</th>
                </tr>
                <tbody>
                    <tr>
                        <td class="text-wrap" style="width: 75%"><img src="~/img/flags/rs.svg" alt="RS Flag" style="max-height:15%; max-width:15%"> Monica Seles</td>
                        <td>3</td><td>5</td><td>2</td>
                    </tr>
                    <tr>
                        <td class="text-wrap" style="width: 75%"><img src="~/img/flags/ch.svg" alt="CH Flag" style="max-height:15%; max-width:15%"> Martina Hingis</td>
                        <td>6</td><td>7</td><td>6</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
