@model IList<Article>
@{
    ViewData["Title"] = "HomeSite";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

<div class="row">
    <div class="col">
        @{
            if (Model.Any())
            {
                <a href="/home/article/@Model.First().Id">
                    <div class="main_slot_image container-img-text">
                        <img src="~/img/@Model.First().ImageName" alt="News 1" />
                        <div class="bottom-left"><h3>@Model.First().Title</h3></div>
                    </div>
                </a>
            }
            else
            {
                <div class="main_slot_image container-img-text">
                    <img src="~/img/blank.jpg" alt="News 1" />
                    <div class="bottom-left"></div>
                </div>
            }
        }

    </div>
    <div class="col-md-4 small_slot_wrapper">
        <div class="row py-2">
            <h2>Latest Scores</h2>
            <table class="table table-sm bg-light align-content-center table-striped">
                <thead>
                    <tr>
                        <th scope="col">Player1</th>
                        <th scope="col">Final Score</th>
                        <th scope="col">Player2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Steffi Graf</td>
                        <td>6-3, 6-1, 6-4</td>
                        <td>Martina Navratilova</td>
                    </tr>
                    <tr>
                        <td>Chris Evert</td>
                        <td>7-5, 6-1, 6-2</td>
                        <td>Margaret Court</td>
                    </tr>
                    <tr>
                        <td>Justine Henin</td>
                        <td>6-2, 3-6, 6-1, 6-0</td>
                        <td colspan="2">Martina Hingis</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row py-2">
            <h2>Player Highlights</h2>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://static.abc.es/media/deportes/2019/03/29/tenis-federer-anderson-kpsG--620x349@abc.jpg"
                                class="card-img" alt="news 2" style="object-fit: cover;height:inherit;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-title" style="padding-left:15px;margin-bottom:1em;">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
