@{
    ViewData["Title"] = "HomeSite";
     Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}
<div class="container-fluid">
    <div class="row bg-light">
        <div class="col">
            <div class="main_slot_image container-img-text ">
                <img src="https://www.tennisworldes.com/imgb/21870/federer-estoy-jugando-un-gran-tenis-tengo-muchas-ganas-de-jugar-en-miami.jpg" alt="News 1" />
                <div class="bottom-left"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3></div>
            </div>
        </div>
        <div class="col col-md-4 small_slot_wrapper">
            <div class="row">
                <div class="small_slot_cols_item">
                    <div class="col-6 small_slot_cols_item_image">
                        <img src="https://ep01.epimg.net/deportes/imagenes/2018/12/11/actualidad/1544549748_883784_1544556503_noticia_normal.jpg" alt="news 2" />
                    </div>
                    <div class="col-6 small_slot_cols_item_title">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam eros metus.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small_slot_cols_item">
                    <div class="col-6 small_slot_cols_item_image">
                        <img src="https://static.abc.es/media/deportes/2019/03/29/tenis-federer-anderson-kpsG--620x349@abc.jpg" alt="news 2" />
                    </div>
                    <div class="col-6 small_slot_cols_item_title">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam eros metus.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small_slot_cols_item">
                    <div class="col-6 small_slot_cols_item_image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk1kNwCpwY8pP2LKy5_gU0Zz075DOYdNSM6p_Rg2TAuLaOodGq" alt="news 3" />
                    </div>
                    <div class="col-6 small_slot_cols_item_title">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam eros metus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


