@model IList<Article>
@{
    ViewData["Title"] = "HomeSite";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

<div class="container-fluid">
    <div class="row bg-light">
        <div class="col">
            @{
                if (Model.Any())
                {
                    <a href="/home/articles/@Model.First().Id">
                        <div class="main_slot_image container-img-text">
                            <img src="~/img/@Model.First().ImageName" alt="News 1" />
                            <div class="bottom-left"><h3>@Model.First().Title</h3></div>
                        </div>
                    </a>
                }
                else
                {
                    <div class="main_slot_image container-img-text">
                        <img src="~/img/blank.jpg" alt="News 1" />
                        <div class="bottom-left"></div>
                    </div>
                }
            }

        </div>
        <div class="col-md-4 small_slot_wrapper">
            <div class="row">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://www.tennisworldes.com/imgb/21870/federer-estoy-jugando-un-gran-tenis-tengo-muchas-ganas-de-jugar-en-miami.jpg"
                                 class="card-img" alt="news 1" style="object-fit:cover ;height:inherit; ">
                        </div>
                        <div class="col-md-8">
                            <div class="card-title" style="padding-left:15px;margin-bottom:1em;">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://static.abc.es/media/deportes/2019/03/29/tenis-federer-anderson-kpsG--620x349@abc.jpg"
                                 class="card-img" alt="news 2" style="object-fit: cover;height:inherit;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-title" style="padding-left:15px;margin-bottom:1em;">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk1kNwCpwY8pP2LKy5_gU0Zz075DOYdNSM6p_Rg2TAuLaOodGq"
                                 class="card-img" alt="news 3" style="object-fit:cover; height:inherit; width:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-title" style="padding-left:15px;margin-bottom:1em;">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
