@model IList<Article>
@{
    ViewData["Title"] = "HomeSite";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

<div class="row">
    <div class="col">
        @{
            if (Model.Any())
            {
                <a href="/home/article/@Model.First().Id">
                    <div class="main_slot_image container-img-text">
                        <img src="~/img/@Model.First().ImageName" alt="News 1" />
                        <div class="bottom-left"><h3>@Model.First().Title</h3></div>
                    </div>
                </a>
            }
            else
            {
                <div class="main_slot_image container-img-text">
                    <img src="~/img/blank.jpg" alt="News 1" />
                    <div class="bottom-left"></div>
                </div>
            }
        }

    </div>
    <div class="col-md-4 small_slot_wrapper">
        <div class="row py-2">
            <h2 class="font-weight-light">Latest Scores</h2>
            <table class="table table-sm bg-light">
                <tr>
                    <th>Wimbledon</th>
                </tr>
                <tbody>
                    <tr>
                        <td style="width: 75%"><img src="~/img/flags/us.svg" alt="US Flag" style="max-height:15%; max-width:15%">Chris Evert</td>
                        <td>7</td><td>6</td><td>6</td>
                    </tr>
                    <tr>
                        <td style="width: 75%"><img src="~/img/flags/au.svg" alt="AU Flag" style="max-height:15%; max-width:15%">Margaret Court</td>
                        <td>5</td><td>1</td><td>2</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm bg-light">
                <tr>
                    <th>US Open</th>
                </tr>
                <tbody>
                    <tr>
                        <td style="width: 75%"><img src="~/img/flags/de.svg" alt="DE Flag" style="max-height:15%; max-width:15%">Steffi Graf</td>
                        <td>6</td><td>6</td><td>6</td>
                    </tr>
                    <tr>
                        <td style="width: 75%"><img src="~/img/flags/cz.svg" alt="CZ Flag" style="max-height:15%; max-width:15%">Martina Navratilova</td>
                        <td>3</td><td>1</td><td>4</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row py-2">
            <h2 class="font-weight-light">Player Highlights</h2>
        </div>
        <div class="row py-2">
            <div class="card-deck w-50">
                <div class="card align-items-center">
                    <img class="card-img-top" src="~/img/justine-henin.jpg" alt="Justine Henin">
                    <div class="card-title" style="margin-top:1px;padding-left:1em;padding-right:1em">
                        <p class="card-text">Justine Henin</p>
                    </div>
                </div>
                <div class="card align-items-center">
                    <img class="card-img-top" src="~/img/Gabriela-Sabatini.jpg" alt="Gabriela Sabatini">
                    <div class="card-title" style="margin-top:1px;padding-left:1em;padding-right:1em">
                        <p class="card-text">Gabriela Sabatini</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
