@model IList<Article>

@{
    PageConfigModel siteConfig = ViewData["siteConfig"] as PageConfigModel;
    ViewData["Title"] = "HomeSite";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

<div class="row">
    <div class="col-12 col-md-9">
        <div class="main_slot_image container-img-text card " style="height: 100%; color: black;">
            <div class="row mx-1 my-5 my-md-auto">
                <div class="col-12">
                    <div><h1>Shopping Cart - Vacation Builder
                        </h1></div>
                    <div class="row text-center justify-content-center">

                    </div>
                    <div class="row justify-content-end">
                        <button type="button" class="btn homesite_button" id="go-btn-iframe">
                            @siteConfig.RefreshButtonText
                        </button>
                    </div>
                </div>
            </div>
            <div class="bottom-left"></div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const goBtnIframe = document.getElementById('go-btn-iframe');
        if (goBtnIframe) {
            goBtnIframe.addEventListener("click", function () {
                parent.document.getElementById("go-btn").click()
            })
        }

        const backstageBtnIframe = document.getElementById('backstage-btn-iframe');
        if (backstageBtnIframe) {
            backstageBtnIframe.addEventListener("click", function () {
                parent.document.getElementById("backstage-btn").click();

                backstageBtnIframe.innerHTML = backstageBtnIframe.innerHTML === `@siteConfig.MainArticleCloseBackstageLabel` ? `@siteConfig.MainArticleShowBackstageLabel` : `@siteConfig.MainArticleCloseBackstageLabel`;
            })
        }
    });

</script>