<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body id="article-body-layout">
    <div class="container-fluid" id="article-render">
        <div class="container-fluid px-0 py-5">
            <div id="main-container" class="col-xl-8 offset-xl-2 col-12">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
<div id="article-footer">
    <footer class="footer">
        <div class="container-fluid bottom_border">
            <div class="row">
                <div class="col-xl-3 col-md-5 col-lg-3 col-sm-12 mx-2">
                    <h5 class="headin5_amrc col_white_amrc pt-3 ml-5">Find us</h5>
                    <!--headin5_amrc-->
                    <p class="mb10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis rutrum pharetra</p>
                    <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
                    <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
                    <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
                </div>

                <div class="col-xl-2 col-lg-2 col-sm-12 col-md-5 mx-2">
                    <h5 class="headin5_amrc col_white_amrc pt-3 ml-5">Tournaments</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc ml-5">
                        <li><span>Wimbledon</span></li>
                        <li><span>Mutua Madrid Open</span></li>
                        <li><span>Australia Open</span></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>

                <div class="col-xl-2 col-lg-2 col-sm-12 col-md-5 mx-2">
                    <h5 class="headin5_amrc col_white_amrc pt-3 ml-5">Quick links</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc ml-5">
                        <li><span>Latest news</span></li>
                        <li><span>Latest Scores</span></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>

                <div class="col-xl-3 col-lg-3 col-sm-12 col-md-5 mx-2">
                    <h5 class="headin5_amrc col_white_amrc pt-3 ml-5">Follow us</h5>
                    <!--headin5_amrc ends here-->

                    <ul class="footer_ul2_amrc ml-5">
                        <li><span><i class="fab fa-twitter fleft padding-right"></i> </span><p class="pl-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit... </p></li>
                        <li><span><i class="fab fa-twitter fleft padding-right"></i> </span><p class="pl-0">Lorem ipsum dolor sit amet, consectetur adipiscing elitg...</p></li>
                    </ul>
                    <!--footer_ul2_amrc ends here-->
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="foote_bottom_ul_amrc">
                <li><span href="http://webenlance.com">Home</span></li>
                <li><span>Tornaments</span></li>
                <li><span>Players</span></li>
                <li><span>Watch</span></li>
                <li><span>Gear</span></li>
            </ul>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="text-center pl-0">Copyright @@ @DateTime.Now.Year </p>

            <ul class="social_footer_ul">
                <li><span><i class="fab fa-facebook-f"></i></span></li>
                <li><span><i class="fab fa-twitter"></i></span></li>
                <li><span><i class="fab fa-linkedin"></i></span></li>
                <li><span><i class="fab fa-instagram"></i></span></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>

    </footer>
</div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
