a:hover, a:visited, a:link, a:active {
    color: inherit; 
    font-size: inherit;
    text-decoration: none;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

button:disabled {
    background-color: #dedad9;
    color: #444;
}

.button-group {
    display: flex;
    flex-direction: row-reverse;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.panel-heading .panel-toggle:after {
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
    content: "\2212";
    padding-left: 60px;
    padding-right: 10px;
    vertical-align: middle;
}

.panel-heading .panel-toggle.collapsed:after {
    content: "\2b";
}