/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-shadow: 0 0 15px #000000;
}

img {
    width: 100%;
}

/* Container holding the image and the text */
.container-img-text {
    position: relative;
    text-align: left;
    color: white;
    text-overflow: ellipsis;
    float: none;
}

.small_slot_wrapper {
    min-height: 350px;
    position: relative;
    margin-right: 10px;
    padding-bottom: 19px;
}

.small_slot_wrapper_cols {
}

.small_slot_cols_item {
    background: #fff;
    overflow: hidden;
    position: relative;
    height:100%;
}

.small_slot_cols_item_image {
    display: inline-block;
    position: relative;
    object-fit: cover;
}

.small_slot_cols_item_title {
    color: #333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.06px;
    line-height: 15px;
    padding-left: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#iframe-backBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#iframe-backBtn:hover {
    background-color: #555;
}

.progress { 
    font-size: 2rem;
}

#timeleft {
    font-size: 1.2rem;
    text-align: center;
    height: 58px;
}

.article-container {
    min-height: calc(100vh - 120px);
    max-height: calc(100vh - 122px);
}

#collapseBackstage.collapsing {
    width: 0;
    transition: width 0.05s ease;
}

#collapseBackstage .backstage-container {
    max-height: 100vh;
}

#collapseBackstage .backstageNavBar {
    min-height: 4rem;
    height:4rem;
}

.articleNavBar {
    min-height: 4rem;
    height: 4rem;
}

.homeNavBarFont > b{
    color: white;
    font-weight: lighter;
}