@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

<div class="row column bg-light text-secondary" style="padding-bottom:32%; padding-top:32%;">
    <div class="col-12 pt-3">
        <p class="h2 py-3">Try Personalizer Out!</p>

        <ol>
            <li class="py-2">Choose some imaginary context variables from the selection boxes above</li>
            <li class="py-2">Click the button to show a new article chosen for that context</li>
            <li class="py-2">Scroll through the article to generate a reward score</li>
        </ol>
    </div>
</div>