<p> </p>
<h2>Loading this app:</h2>
<ul>
    <li>Displays user agent information extracted from the http request.</li>
    <li>Sends a personalization rank request to the service.</li>
    <li>Displays rank request and the response received for the request.</li>
</ul>
<p> Click 'Send Request' in the nav bar to send a new rank request.</p>
<h2>User Agent:</h2>
<pre>@ViewData["UserAgent"]</pre>

<h2>Content of a personalization rank request:</h2>
<pre>@ViewData["Personalization Rank Request"]</pre>

<h2>Content of the ranking response received for the above request:</h2>
<pre>@ViewData["Personalization Reward Request"]</pre>
